header {
    background-color: #0078d7;
    color: white;
    padding-top: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    width: 90%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.header-left {
    display: flex;
    gap: 50px;
}

.logo img {
    height: 40px;
}

.search-bar input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    width: 250px;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


#body-container {
    display: flex;
    flex-direction: column;
}

#choice {
    display: flex;
    flex-direction: row;
}

ul {
    display: inline-flex;
    list-style-type: none;
}

li {
    margin: 10px;
}

.show_box {
    width: 95%;
    height: 500px;
    margin: auto;
    background-image: url(/img/background.jpg);
}

#fileTable {
    width: 95%;
    border-collapse: collapse;
    margin-top: 20px;
}

#fileTable th,
#fileTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#fileTable th {
    background-color: #f2f2f2;
}